@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Account Dropdown Styles */
.header .container .inner .rgtbox .wrap .item.account-dropdown .arrow {
  display: inline-block;
  margin-left: 7px;
  transition: transform 0.3s ease;
}

.header .container .inner .rgtbox .wrap .item.account-dropdown .arrow.active {
  transform: rotate(180deg);
}

.header .container .inner .rgtbox .wrap .item.account-dropdown .account-submenu {
  width: max-content;
  opacity: 0;
  height: 0;
  overflow: hidden;
  top: 50px;
  right: 0;
  display: block;
  transition: all 0.5s ease;
  padding: 5px 20px;
  position: absolute;
  border-radius: 10px;
  border: 1px solid #f4f4f4;
  background: linear-gradient(0deg, #ffffff 0%, #ffffff 100%), #ffffff;
  pointer-events: none;
}

.header .container .inner .rgtbox .wrap .item.account-dropdown .account-submenu.active {
  opacity: 1;
  height: auto;
  pointer-events: all;
}

.header .container .inner .rgtbox .wrap .item.account-dropdown:hover .arrow svg path {
  stroke: #0273f0;
}

.header .container .inner .rgtbox .wrap .item.account-dropdown .account-submenu a {
  padding: 10px 0;
  display: block;
  color: #4a4a4a;
  font-size: 14px;
  letter-spacing: -0.28px;
  border-top: 1px solid #f4f4f4;
  font-weight: 400;
  font-family: "BasierSquare-Regular";
  transition: color 0.3s ease;
}

.header .container .inner .rgtbox .wrap .item.account-dropdown .account-submenu a:first-child {
  border-top: 0;
}

.header .container .inner .rgtbox .wrap .item.account-dropdown .account-submenu a:hover {
  color: #0273f0;
}
